body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

#vis1-title {
    text-align: center
    
}

#color-key-min,
#color-key-max  {
  font-size: 10px;
}
/* create class for tooltip attributes*/
#tooltip {
    position: absolute;
    background-color: white;
    border:  solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
   } 

  .scatter {
    position: relative;
    max-width: 50%;
  }
#legend {
  position: absolute;
  display: flex;
  /* justify-content: space-evenly; */
  text-align: center;
  
}



  #color-key {
    /* position: absolute; */
    transform: rotate(180deg);
    height: 10px;
    width: 60%;
    /* top: 75px; */
    /* left: 50px;  */
  } 

.inactive {
    fill: black;
}

#inactive-markets {
  color: black;
}

.active {
  fill: green;
}

#active-markets {
  color: green;
}

.visualizations {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    /* gap: 20px; */
    
  }

.click-point {
  display: flex;
  gap: 5px;
  align-items: center;
}
  
#country-codes {
  font-size: 10px
}

#legend2 {
  
  position: relative;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}

#bar {
  margin-top: 0px;
  padding-top: 0px;
  border-top: 0px;
}